/*
Colours used:
Primary Colour (Dark Blue): #1a3459
Secondary Colour (Light Blue): #3055a3
Tertiary Colour (Sky Blue): #e4f2fd
Accent Colour (Yellow): #fec917
On Top Light Colours (Black): #020203
On Top Dark Colours ( White): #ffffff
*/
/*
Fonts used:
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
/*
header {
  background-color: #3055a3;
  padding: 10px;
  margin: 10px; /*Could have also used (margin: 0.625em)
  border-bottom: 10px solid #fec917;
}
*/
/* Layout styling*/
* {
  box-sizing: border-box;
}

/*
main{
  padding-top: 181px;
}
*/
body {
  background-color: #000000;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #18cae6;
}

/*
main {
  padding-top: 56px;
}
*/
h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

#work svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
header svg {
  max-width: 100px;
}
*/
a {
  color: #ffffff;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  color: #ffffff;
}

a:hover,
a:focus {
  color: #fec917;
  /*text-decoration: underline;*/
  /* Underlining when hovering over a link */
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #fec917;
  color: #1a3459 !important;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  border: 2px solid #fec917;
  padding: 10px 30px;
  border-radius: 50px;
  /*border-bottom: 4px solid #ffffff;*/
  transition: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #fec917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button.contact {
  background-color: transparent;
  color: #fec917 !important;
  text-transform: uppercase;
  border: 2px solid #fec917;
  padding: 10px 30px;
}

.button.contact:hover {
  background-color: #fec917;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #fec917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#prototype .button.contact {
  text-align: center;
}

.portfolio-button {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /*25px top and bottom, 0 left and right*/
}

.row-large {
  margin: 25px 0;
}

#work .row, #about .row, #vela .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #ffffff;
}

#hero {
  color: #000000;
}

#hero h1, #about h1, #vela h1, #vela h2 {
  text-align: center;
}

#vela .row-large {
  padding-bottom: 25px;
  border-bottom: 5px solid #ffffff;
}

.no-border {
  margin-bottom: 0;
  border-bottom: 0 !important;
}

#work .row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

#about .row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

#work .row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.logo {
  max-width: 50px;
}

.external-logo {
  padding: 25px 0;
}

header {
  background-color: #000000;
  padding: 10px 0 4px;
  position: relative;
  width: 100%;
  /*
  -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.62);
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.62);
  */
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav>ul>li>a:visited {
  color: #ffffff;
}

nav>ul>li>a:hover, a:focus {
  color: #fec917;
}

nav>ul>li>a:active {
  color: #fec917;
}

/*
nav {
  display: inline-block;
  width: 100%;
}
*/
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 30px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #18cae6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero p {
  text-align: center;
}

footer {
  text-align: center;
  background: Black;
}

footer h2 {
  margin-top: 0;
  padding-top: 0.83em;
}

footer .row {
  margin: 0;
}

footer .fab {
  font-size: 3em;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    min-width: 80px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row-large::after {
    content: "";
    clear: both;
    display: table;
  }

  #work h3, #about h3, #vela h4 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  header {
    text-align: unset;
    padding: 20px 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row-large::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 2.75em;
  }

  h3 {
    font-size: 2.25em;
  }

  h4 {
    font-size: 1.85em;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
